$bleed: 40px;

body, html {

  background: #fff;
  color: #404040;
  font-size: 15px;
  font-family: 'Arvo', Helvetcia, Arial, sans-serif;
  line-height: 20px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  height: 100%;
  width: 100%;
}


#logos {
  background: #fff;
  bottom: 0px; left: 0px;
  height: 55px;
  position: absolute;
  img { margin: 0 2px;}
}


#xmas {

  position: absolute;
  top: $bleed;
  bottom: $bleed;
  left: $bleed;
  right: $bleed;
  overflow: hidden;

  img#santa {
    height: 105%;
    position: absolute;
    right: 0;
    top: -5%;
  }

  #details {
    background: #fff;
    bottom: 0;
    top: 0;
    padding: 0 30px 0 0;
    position: absolute;
    width: 320px;
  }

}


h2 {
  color: #c91e27;
  font-family: 'Arvo', serif;
  font-size: 34px;
  line-height: 40px;
  margin: 0 0 16px 0;
}


p {
  border-bottom: 1px solid #b0b0b0;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  &.last { border: 0; }
}


.flakes {
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  -o-border-radius: 20px;
  -ms-border-radius:20px;
  border-radius: 20px;
  background: #fff;
  font-size: 0;
  position: absolute;
}
